/vendor
/node_modules
/builds
/.idea
/.vscode
/.vagrant
/.cache
.phpunit.result.cache
.phpstan

.env

# Do not include built site
/_site

# Exclude input directory (temporary files for game processing)
/_input

# Exclude storage directory (generated PDFs and other temporary files)
/storage